GCP_PROJECT_ID=
GCP_REGION=
GCP_ARTIFACT_REGISTRY_REPO_NAME=
GCP_ACCOUNT_EMAIL=
GCP_CLOUD_RUN_SERVICE_NAME=
GCP_CLOUD_RUN_SERVICE_URL=

APP_SCRIPT_ID=

GOOGLE_OAUTH_CLIENT_ID=

GEMINI_API_KEY=

DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5436/db

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
